      <!-- content-11 -->
      <section class="content-11">
        <div class="container">
          <span>You have the design, you have the code</span>
          <a class="btn btn-large btn-danger" href="index.html#">TRY IT NOW</a>
        </div>
      </section>
      <div class="delimiter-big"></div>
