      <!-- footer-13 -->
      <footer class="footer-13">
        <div class="container">
          <nav class="pull-left">
            <ul>
              <li><a href="index.html#">UPCOMING EVENTS</a>
              </li>
              <li><a href="index.html#">SUBSCRIPTIONS</a>
              </li>
            </ul>
          </nav>
          <span class="fui-cmd"> </span>
          <nav class="pull-right">
            <ul>
              <li><a href="index.html#">HOME</a>
              </li>
              <li><a href="index.html#">BLOG</a>
              </li>
              <li><a href="index.html#">CONTACT</a>
              </li>
            </ul>
          </nav>
        </div>
      </footer>
      <div class="delimiter"></div>
