      <!-- footer-7 -->
      <footer class="footer-7 ">
        <div class="container">
          <a href="index.html#"><span class="fui-home"> </span></a>
          <nav>
            <ul>
              <li><a href="index.html#">HOME</a>
              </li>
              <li><a href="index.html#">WORK</a>
              </li>
              <li class="scroll-btn">
                <a href="index.html#" class="scroll-top fui-arrow-up"></a>
              </li>
              <li><a href="index.html#">BLOG</a>
              </li>
              <li><a href="index.html#">CONTACT</a>
              </li>
            </ul>
          </nav>
          <div class="social-btns">
            <a href="index.html#">
              <div class="fui-vimeo"></div>
              <div class="fui-vimeo"></div>
            </a>
            <a href="index.html#">
              <div class="fui-facebook"></div>
              <div class="fui-facebook"></div>
            </a>
            <a href="index.html#">
              <div class="fui-twitter"></div>
              <div class="fui-twitter"></div>
            </a>
          </div>
        </div>
      </footer>
