      <!-- header-23 -->
      <header class="header-23">
        <div class="mask">&nbsp;</div>
        <div class="popup-video">
          <iframe id="pPlayer" src="http://player.vimeo.com/video/80282064?title=0&amp;byline=0&amp;portrait=0&amp;api=1&amp;player_id=pPlayer" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <div class="container">
          <div class="row">
            <div class="navbar col-sm-12" role="navigation">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle"></button>
                <a class="brand" href="index.html#">Startup</a>
              </div>
              <div class="navbar-collapse collapse">
                <ul class="nav pull-right">
                  <li><a href="index.html#">Home</a>
                  </li>
                  <li><a href="index.html#">Work</a>
                  </li>
                  <li><a href="index.html#">Blog</a>
                  </li>
                  <li><a href="index.html#">Contact</a>
                  </li>
                </ul>
                <ul class="subnav">
                  <li><a href="index.html#">Privacy</a>
                  </li>
                  <li><a href="index.html#">Terms</a>
                  </li>
                  <li><a href="index.html#">Advertise</a>
                  </li>
                  <li><a href="index.html#">Affiliates</a>
                  </li>
                  <li><a href="index.html#">Newsletter</a>
                  </li>
                  <li><a href="index.html#">About</a>
                  </li>
                  <li><a href="index.html#">Contact Us</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </header>
      <section class="header-23-sub bg-midnight-blue">
        <div id="bgVideo" class="background">&nbsp;</div>
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="hero-unit">
                <strong>Startup Framework</strong>
                <a class="btn-play" id="play" href="index.html#">Play</a>
                <span>Now you have the design</span>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- Placed at the end of the document so the pages load faster -->
