<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>LouFinkDesign</title>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="shortcut icon" href="../../flat-ui/images/favicon.ico">
        <link rel="stylesheet" href="../../flat-ui/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="../../flat-ui/css/flat-ui.css">
        <!-- Using only with Flat-UI (free)-->
        <link rel="stylesheet" href="../../common-files/css/icon-font.css">
        <!-- end -->
        <link rel="stylesheet" href="../../common-files/css/animations.css">
        
        <!-- If you don't use any of these blocks just remove unnecessary CSS files -->
        <!-- blog -->
        <link rel="stylesheet" href="../../ui-kit/ui-kit-blog/css/style.css">
        <!-- contacts -->
        <link rel="stylesheet" href="../../ui-kit/ui-kit-contacts/css/style.css">
        <!-- content -->
        <link rel="stylesheet" href="../../ui-kit/ui-kit-content/css/style.css">
        <!-- crew -->
        <link rel="stylesheet" href="../../ui-kit/ui-kit-crew/css/style.css">
        <!-- footer -->
        <link rel="stylesheet" href="../../ui-kit/ui-kit-footer/css/style.css">
        <!-- header -->
        <link rel="stylesheet" href="../../ui-kit/ui-kit-header/css/style.css">
        <!-- price -->
        <link rel="stylesheet" href="../../ui-kit/ui-kit-price/css/style.css">
        <!-- projects -->
        <link rel="stylesheet" href="../../ui-kit/ui-kit-projects/css/style.css">
    </head>

    <body>
    <header class="header-21">
        <div class="container">
          <div class="row">
            <div class="navbar col-sm-12" role="navigation">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle"></button>
                <a class="brand" href="index.html#">loufinkdesign</a>
              </div>
              <div class="navbar-collapse collapse">
                <ul class="nav">
                  <li class="active"><a href="index.html#">HOME</a>
                  </li>
                  <li><a href="http://loufink.com/Developer/samples/template/work.html">WORK</a>
                  </li>
                  <li><a href="index.html#">BLOG</a>
                  </li>
                  <li><a href="index.html#">CONTACT</a>
                  </li>
                </ul>
                <form class="navbar-form pull-right">
                  <a class="btn btn-default" href="index.html#">SIGN IN</a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </header>
      <section class="header-21-sub v-center">
        <div>
          <div class="background">&nbsp;</div>
          <div class="container">
            <h3><img class="hl" src="../../common-files/icons/Infinity-Loop@2x.png" width="100" height="100" alt="">Hello, I'm a Designer.</h3>
            <p class="lead">UX / UI / SERVICE / PRODUCT </p>
          </div>
        </div>
          <a class="control-btn fui-arrow-down"  href="index.html"></a>
     </section>
            <!-- content-22 -->
      <section class="content-22 bg-midnight-blue">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <h3>I'm LouFink.</h3>
              <p>A Designer that has many faces to go with several different experiences, shaping a broad, but focused design philosophy.
              </p>
              <a class="btn btn-clear" href="index.html#">Ask Me Something!</a>
            </div>
            <div class="col-sm-8">
              <div class="img hidden-xs">
                <img src="../../common-files/img/content/board.png" width="974" height="713" alt="">
                <img src="../../common-files/img/content/board-1.png" width="834" height="713" alt="">
                <img src="../../common-files/img/content/board-2.png" width="974" height="533" alt="">
                <img src="../../common-files/img/content/board-3.png" width="512" height="549" alt="">
                <img src="../../common-files/img/content/board-4.png" width="653" height="367" alt="">
                <img src="../../common-files/img/content/board-5.png" width="952" height="267" alt="">
                <img src="../../common-files/img/content/board-6.png" width="512" height="518" alt="">
                <img src="../../common-files/img/content/board-7.png" width="512" height="488" alt="">
              </div>
              <div class="description">
                <h6>Design Yourself</h6>
I enjoy a wide range of job atmospheres from Corporate "in house teams" to Design Agencies with a variety of roles.  
              </div>
            </div>
          </div>
        </div>
      </section>
         <!-- content-16 -->
      <section class="content-16 v-center">
        <div>
          <div class="container">
            <h3><img src="../../common-files/icons/Infinity-Loop@2x.png" width="100" height="100" alt="">How do I work?</h3>
            <p class="lead">Design Process & Methodologies.</p>
          </div>
        </div>
        <a class="control-btn fui-arrow-down" href="index.html#"></a>
      </section>
         <section class="content-21 bg-midnight-blue">
        <div class="container">
          <h3>Design Process & Methodologies.</h3>
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <div class="features features-tabs">
                <div class="features-header">
                  <div class="box active">
                    <div class="fui-cmd"></div>
                    RESEARCH & DEFINE
                  </div>
                  <div class="box">
                    <div class="fui-mic"></div>
                   IDEAS & CONCEPTS
                  </div>
                  <div class="box">
                    <div class="fui-user"></div>
                    TEST & DELIVER  
                  </div>
                </div>
                <div class="features-bodies">
                  <div class="features-body active">
                    <h6>Who What When Where?</h6>
                    <p>What is the problem, the opportunity? Who are the stakeholders?  I begin with data derived from the client or other resources made avaliable.
                    </p>
                    <p>After the initial Data is gathered, Project Scope (the story, direction, deliverables) takes shape via early Visuals (MAPS, MODELS, DIAGRAMS) 
                    </p>
                  </div>
                  <div class="features-body">
                    <h6>Contextual Research + Design Opportunities</h6>
                    <p>I try to get out in the field as much as possible (physically present or via digital/tradition survey methods) to correct my assumptions, whether im observing or interacting with users and/or stakeholders.
                    </p>
                    <p>Once the story is told, and the characters are present, I can bring ideas to life, through.. Sketching, Making, Moving, Thinking, Doing. Context is everything, and so is insight. 
                    </p>
                  </div>
                  <div class="features-body">
                    <h6>Prototyping & Testing + Final Visual Design</h6>
                    <p>Test Early & Often + Build. Its impertive that concepts should meet reality, and the people that use it. Insight is golden, and is visible only in context.
                    </p>
                    <p>Form and Function must maintain a balance, also an idea should be as beautiful as it is innovative. My process comes to an end based on each individual client & their parameters.

                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
        <!-- content-16 -->
      <section class="content-16 v-center">
        <div>
          <div class="container">
            <h3><img src="../../common-files/icons/Infinity-Loop@2x.png" width="100" height="100" alt=""> Design Work</h3>
            <p class="lead">LouFink's Professional and Educational Projects.</p>
          </div>
        </div>
        <a class="control-btn fui-arrow-down" href="index.html#"></a>
      </section>
           <!-- header-1 -->
          <header class="header-1">
            <div class="container">
              <div class="row">
                <nav class="navbar col-sm-12">
                           <a class="brand" href="index.html#">
                      <img src="../../common-files/img/header/logo@2x.png" width="80" height="80" alt=""></a>
                  </div>
            </div>
          </header>
          <section class="header-1-sub">
            <div id="pt-main" class="page-transitions pt-perspective">
              <div class="pt-page pt-page-1">
                <div class="background">&nbsp;</div>
                <div class="caption">
                  <div class="container">
                    <h3>Derbywire, Inc. <br /></h3>
                    <p class="lead">Stream Inspiration, Sell Creation.</p>
                      
                  </div>
                </div>
              </div>
              <div class="pt-page pt-page-2">
                <div class="background">&nbsp;</div>
                <div class="caption">
                  <div class="container">
                    <h3>A creative community.</h3>
                    <p class="lead">Derbywire is here to inspire a new generation of artist.</p>
                  </div>
                </div>
              </div>
              <div class="pt-page pt-page-3">
                <div class="background">&nbsp;</div>
                <div class="caption">
                  <div class="container">
                    <h3> Inspiration.</h3>
                    <p class="lead">Connect with featured/ trending Derbywire artists, get noticed.</p>
                  </div>
                </div>
              </div>
              <div class="container controls">
                <a class="control-prev" href="index.html#"><span class="fui-arrow-left"> </span></a>
                <a class="control-next" href="index.html#"><span class="fui-arrow-right"> </span></a>
              </div>
            </div>
          </section>
      <section class="content-30">
        <div class="container">
          <div class="row features">
            <div class="col-sm-3 box-1">
              <div class="description-top">
                <h6>Derbywire Music</h6>
The Native iOS Application List View, with Radial Menu Concept.
                <img src="../../common-files/img/content/arrow-tl@2x.png" width="61" height="97" alt="">
              </div>
              <div class="img">
                <img src="../../common-files/img/content/screen-1-bw@2x.png" width="220" height="391" alt="">
                <img src="../../common-files/img/content/screen-1@2x.png" width="220" height="391" alt="">
              </div>
              <div class="description-bottom">
                <h6>Interactive Ads, with Context</h6>
Sponsors will be directed to a template section via PR, and Derbywire will place the ad in the appropriate context.
                <img src="../../common-files/img/content/arrow-bl@2x.png" width="97" height="110" alt="">
              </div>
            </div>
            <div class="col-sm-3 box-2">
              <div class="description-top">
                <h6>Radial Menu, its all about content.</h6>
Hiding the menu allows for a much more complex layering of content, thus creating process, sense of hierarchy.
                <img src="../../common-files/img/content/arrow-tl@2x.png" width="61" height="97" alt="">
              </div>
              <div class="img">
                <img src="../../common-files/img/content/screen-2-bw@2x.png" width="220" height="391" alt="">
                <img src="../../common-files/img/content/screen-2@2xc-30.png" width="220" height="391" alt="">
              </div>
              <div class="description-bottom">
                <h6>Multi-Task</h6>
Navigate Music Feeds (sections) while instantly viewing content, cover art, artists, or a song list.
                <img src="../../common-files/img/content/arrow-br@2x.png" width="97" height="110" alt="">
              </div>
            </div>
            <div class="col-sm-3 box-3">
              <div class="description-top">
                <h6>MyWire, web app</h6>
A responsive web app. Contains a lightweight, but content rich version of the Derbywire personal music experience.
                <img src="../../common-files/img/content/arrow-tr@2x.png" width="61" height="97" alt="">
              </div>
              <div class="img">
                <img src="../../common-files/img/content/screen-3-bw@2x.png" width="220" height="391" alt="">
                <img src="../../common-files/img/content/screen-3@2x.png" width="220" height="391" alt="">
              </div>
              <div class="description-bottom">
                <h6>Scaling Ads via Parallax.</h6>
Ads are the most important source of revenue on the web. I believe that we can make ads unobtrusive, and actually enhance user experience, by showing that Derbywire gets artists exposure, in the right place @ the roght time.
                <img src="../../common-files/img/content/arrow-bl@2x.png" width="97" height="110" alt="">
              </div>
            </div>
            <div class="col-sm-3 box-4">
              <div class="description-top">
                <h6>Quick Inspect</h6>
Social Actions & Stats, Album/band info, Music Player, Share protocol, and other actions are a tap away.
                <img src="../../common-files/img/content/arrow-tr@2x.png" width="61" height="97" alt="">
              </div>
              <div class="img">
                <img src="../../common-files/img/content/screen-4-bw@2x.png" width="220" height="391" alt="">
                <img src="../../common-files/img/content/screen-4@2x.png" width="220" height="391" alt="">
              </div>
              <div class="description-bottom">
                <h6>Playlist tab, and Creative Upload.</h6>
Quiclky, and at all times access your personal playlists, and Connect your inner creative to our cloud based publishing platform. 
                <img src="../../common-files/img/content/arrow-br@2x.png" width="97" height="110" alt="">
              </div>
            </div>
          </div>
        </div>
      </section>

     <!-- footer-7 -->
      <footer class="footer-7 ">
        <div class="container">
          <a href="index.html#"><span class="fui-home"> </span></a>
          <nav>
            <ul>
              <li><a href="index.html#">HOME</a>
              </li>
              <li><a href="index.html#">WORK</a>
              </li>
              <li class="scroll-btn">
                <a href="index.html#" class="scroll-top fui-arrow-up"></a>
              </li>
              <li><a href="index.html#">BLOG</a>
              </li>
              <li><a href="index.html#">CONTACT</a>
              </li>
            </ul>
          </nav>
          <div class="social-btns">
            <a href="index.html#">
              <div class="fui-vimeo"></div>
              <div class="fui-vimeo"></div>
            </a>
            <a href="index.html#">
              <div class="fui-facebook"></div>
              <div class="fui-facebook"></div>
            </a>
            <a href="index.html#">
              <div class="fui-twitter"></div>
              <div class="fui-twitter"></div>
            </a>
          </div>
        </div>
      </footer>
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="../../common-files/js/jquery-1.10.2.min.js"></script>
        <script src="../../flat-ui/js/bootstrap.min.js"></script>
        <script src="../../common-files/js/modernizr.custom.js"></script>
        <script src="../../common-files/js/page-transitions.js"></script>
        <script src="../../common-files/js/startup-kit.js"></script>
    </body>
</html>