{% extends 'startup/layout' %}
{% block content %}
      <!-- content-16 -->
      <section class="content-16 v-center">
        <div>
          <div class="container">
            <h3>Заказ принят</h3>
            <p class="lead">Мы скоро обязательно с тобой свяжемся</p>
          </div>
        </div>
      </section>
{% endblock %}